@use "../../global" as *;
@use "../../partials" as *;

@mixin spanText {
  margin-left: 10px;
  width: 160px;
  font-family: $primaryfont;
  color: hsl(0, 0%, 0%);
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6333333333;
}
#megamenu {
  width: 260px;

  .categorylist {
    list-style: none;
    padding: 0;

    .categorylist-item {
      position: relative;
      .categorylist-link {
        @include flex-center-vert;
        padding: 14px 18px;
        transition: all 0.3s ease;
        &:hover {
          background: #eaf1ef;
        }

        .text {
          @include spanText;
        }

        .arrow {
          color: hsl(0, 0%, 0%);
        }
      }

      .categorybox {
        position: absolute;
        top: 0;
        left: 100%;
        background: hsl(0, 0%, 100%);
        width: 16.25rem;
        height: 100%;
        display: none;
        z-index: 1000;

        .subcategory {
          list-style: none;
          padding-left: 0;
          .subcategory-item {
            .subcategory-link {
              @include flex-center-vert;
              padding: 14px 18px;
              transition: all 0.3s ease;
              &:hover {
                background: #eaf1ef;
              }
              .text {
                @include spanText;
              }
            }
          }
        }
      }
    }

    .categorylist-item:hover > .categorybox,
    .categorylist-item .categorybox:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
    }
  }
}
