@use "../../global" as *;
@use "../../partials" as *;

@mixin spanText {
  margin-left: 10px;
  width: 160px;
  font-family: $primaryfont;
  color: hsl(0, 0%, 0%);
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6333333333;
}
#megamenu {
  width: 260px;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 5px;
  }
  .categorylist {
    list-style: none;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: red;
      border-radius: 5px;
    }
    .categorylist-item {
      position: relative;
      .categorylist-link {
        @include flex-center-vert;
        padding: 14px 18px;
        transition: all 0.3s ease;
        &:hover {
          background: #eaf1ef;
        }

        .text {
          @include spanText;
        }

        .arrow {
          color: hsl(0, 0%, 0%);
        }
      }

      .categorybox {
        position: absolute;
        left: 100%;
        background: hsl(0, 0%, 100%);
        width: 16.25rem;
        height: 100%;
        display: none;
        z-index: 1000;
        height: 100vh;
        overflow-y: scroll;

        .subcategory {
          list-style: none;
          padding-left: 0;
          .subcategory-item {
            .subcategory-link {
              @include flex-center-vert;
              padding: 14px 18px;
              transition: all 0.3s ease;
              &:hover {
                background: #eaf1ef;
              }
              .text {
                @include spanText;
              }
            }
          }
        }
      }
      .box1 {
        top: 0;
      }
      .box2 {
        top: -58px;
      }
      .box3 {
        top: -116px;
      }
      .box4 {
        top: -174px;
      }
      .box5 {
        top: -232px;
      }
      .box6 {
        top: -290px;
      }
      .box7 {
        top: -348px;
      }
      .box8 {
        top: -406px;
      }
      .box9 {
        top: -464px;
      }
      .box10 {
        top: -522px;
      }
      .box11 {
        top: -580px;
      }
      .box12 {
        top: -638px;
      }
      .box13 {
        top: -696px;
      }
      .box14 {
        top: -754px;
      }
      .box15 {
        top: -812px;
      }
      .box16 {
        top: -870px;
      }
      .box17 {
        top: -928px;
      }
      .box18 {
        top: -986px;
      }
      .box19 {
        top: -1044px;
      }
      .box20 {
        top: -1102px;
      }
    }

    .categorylist-item:hover > .categorybox,
    .categorylist-item .categorybox:hover {
      visibility: visible;
      position: absolute;
      z-index: 2000;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
    }
  }
}
