$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// THEME-COLORS

// BACKGROUND-COLORS
$inputbg: #fafafa;
$footerbg: #12141d;
$likesectionbg: #eaedf5;

$fb-background: #1877f2;
$twitter-background: #1da1f2;
$instagram-background: #4f5bd5;
$github-background: #171515;

$socialiconbg: #27272a;
$socialhoverbg: #2563eb;
$labelcolor: #5d5f67;
$sliderbadge: #e28110;

// TEXT-COLORS
$black-950: #050505;
$black-900: #3d3d3d;
$black-700: #4f4f4f;
$black-300: #b0b0b0;

$neutral-50: #f5f5f6;
$neutral-100: #e6e6e7;
$neutral-200: #cfcfd2;
$neutral-300: #aeaeb2;
$neutral-400: #85868b;
$neutral-500: #6a6b70;
$neutral-600: #5b5b5f;
$neutral-700: #4d4d51;
$neutral-800: #444546;
$neutral-900: #3c3c3d;
$neutral-950: #19191a;

$green-50: #effbea;
$green-100: #dbf5d2;
$green-200: #baecaa;
$green-300: #8fde78;
$green-400: #68cd4e;
$green-500: #49b530;
$green-600: #348e22;
$green-700: #2a6d1e;
$green-800: #2a6d1e;
$green-900: #26571d;
$green-950: #0e280b;

$blue-green-50: #f1f9fe;
$blue-green-100: #e2f1fc;
$blue-green-200: #bfe3f8;
$blue-green-300: #86cdf3;
$blue-green-400: #45b4eb;
$blue-green-500: #1c94d1;
$blue-green-600: #107cb9;
$blue-green-700: #0e6296;
$blue-green-800: #10537c;
$blue-green-900: #134667;
$blue-green-950: #0d2d44;

// GRADIENT-COLORS
$whitelinear: linear-gradient(97deg, rgba($white, 0.95) 1.12%, $white 98.93%);
$normalgradient: linear-gradient(180deg, #1d95d2 -10%, #47b43a 110%);
$hovergradient: linear-gradient(94deg, #1c94d1 7.24%, #49b530 100%);
$reviewbg: linear-gradient(101deg, #10537c 0%, #47b43a 99.27%);
$sectionbg-gredient-1: linear-gradient(
  90deg,
  #fbeffb 44.6%,
  rgba(242, 241, 250, 0) 70.18%
);
$sectionbg-gredient-2: linear-gradient(
  90deg,
  #e6f8e3 25.85%,
  rgba(230, 248, 227, 0) 103.62%
);
$sectionbg-gredient-3: linear-gradient(
  90deg,
  #def6fe 25.85%,
  rgba(222, 246, 254, 0) 103.62%
);
$cardservicebg: linear-gradient(
  97deg,
  rgba(255, 255, 255, 0.95) 1.12%,
  #fff 98.93%
);

$sectionbg-1: #f2f1fa;

$gray: #a9a9a9;
$gray200: #e4e4e7;
$gray600: #52525b;
$gray900: #18181b;
$lightgray: #f5f5f5;
$paynesgray: #5d5f71;
$puregreen: #26bf6a;
$green: #0a8943;
$greenmiddle: #2dca73;
$lightgreen: #ddf7e9;
$red: #ea0c0c;
$redgray: #ef4444;
$elmbrownred: #f8f0e6;
$pinklight: #ffebeb;
$yellow: #fdbb2c;
$pureyellow: #f9851a;
$purple: #9f7aea;
$lightpurple: #f6f2fd;
$bluelightgreen: #e9f8f8;
$blackcolor: #000520;
$coffee: #f2efe9;
$brightblue: #3786fc;
$bluelight: #ebf3ff;
$whiteblue: #f8f9fb;
$testblue: #6687a3;
$aliceblue: #ebf3ff;
$hawkesblue: #d7dfe9;
$olive: #9ca23d;
$lightpink: #fdcece;
$sweet: #fee2b1;
$lavender: #e6e8f8;
$linkcolor: #7d7f85;
$titlecolor: #171f46;
$ratingstarbg: #f59e0b;
$purple: #862bbe;

$badgetext-1: #3c869c;
$badgebg-1: #ddf7ff;
$badgetext-2: #6e6bdc;
$badgebg-2: #ece9ff;
$badgetext-3: #e54172;
$badgebg-3: #ffdde1;
$badgetext-4: #5563e2;
$badgebg-4: #eceffa;
$badgetext-5: #398a54;
$badgebg-5: #e2f3d7;

$tabsvg: #d9d9d9;
$activetabsvg: #85868b;

$danger: hsl(0, 91%, 54%);

// BORDER-COLORS
$border-black-50: #f6f6f6;
$inputborder: #f1f1f1;
$checkborder: #e7eaef;
$iconborder: rgba(18, 20, 29, 0.1);
$footerborder: #3f3f46;
$changeborder: #e6e6e6;

// SHADOWS

// BOX-SHADOWS
$authshadow: 0 0 0.25rem 0 rgba($black, 0.2);
