@use "../global" as *;
@use "../partials" as *;

.corevalues {
  padding: size(30) 0;
  @include breakpoint(tab992) {
    padding: size(60) 0;
  }

  &-content {
    @include flex-column;
    gap: size(36);
    @include breakpoint(tab992) {
      gap: size(48);
    }
  }
  &-top {
    @include flex-column;
    align-items: center;
    text-align: center;
    .smalltitle {
      color: $blue-green-500;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }
    .title {
      color: $neutral-950;
      font-weight: 700;
    }
  }
  &-body {
  }
}
.joinwithus {
  padding: size(30) 0;
  @include breakpoint(tab992) {
    padding: size(60) 0;
  }
  &-content {
    @include flex-column;
    gap: size(36);
    @include breakpoint(tab992) {
      gap: size(48);
    }
  }
  &-header {
    @include flex-column;
    gap: size(8);
    align-items: center;
    text-align: center;
    padding: size(0) size(30);
    .small-title {
      color: $blue-green-500;
      font-size: size(18);
      font-weight: 600;
      line-height: size(28);
    }
    .title {
      color: $neutral-950;
      text-align: center;
      font-weight: 700;
    }
    .des {
      color: $neutral-600;
      font-size: size(16);
      font-weight: 400;
      line-height: size(22);
      @include breakpoint(tab992) {
        font-size: size(18);
        line-height: size(30);
      }
    }
  }
  &-body {
  }
  .jobs {
    @include flex;
    flex-direction: column;
    gap: size(24);
    border-radius: 30px;
    border: 1px solid #f1f1f1;
    @include border(solid, 1, $inputborder);
    padding: size(24);
    @include breakpoint(tab992) {
      padding: size(48);
    }
  }
  .job {
    background: $neutral-50;
    @include flex-between;
    align-items: center;
    padding: size(16);
    @include radius(16);
    flex-wrap: wrap;
    justify-content: center;
    gap: size(20);
    @include breakpoint(mobile576) {
      padding: size(24);
    }
    @include breakpoint(mobile768) {
      justify-content: space-between;
    }
    .jobleft {
      @include flex-column;
      gap: size(8);
      @include breakpoint(mobile576) {
        gap: size(16);
      }
    }
    .top {
      @include flex;
      align-items: center;
      gap: size(10);
    }
    .title {
      color: $neutral-950;
      font-weight: 700;
    }
    .line {
      height: size(28);
      width: size(1);
      background-color: $neutral-950;
    }
    .jobduration {
      color: $neutral-400;
      font-size: size(16);
      font-style: normal;
      font-weight: 600;
      line-height: size(28);
    }
    .bottom {
      @include flex;
      align-items: center;
      gap: size(12);
      .location {
        @include flex;
        flex-wrap: nowrap;
        gap: size(8);
        .text {
          font-size: size(16);
          font-weight: 400;
          line-height: size(24);
          color: $neutral-400;
        }
      }
      .time {
        @include flex;
        flex-wrap: nowrap;
        .text {
          font-size: size(16);
          font-weight: 400;
          line-height: size(24);
          color: $neutral-400;
        }
      }
    }
    .jobright {
    }
  }
}

.orbitanimation {
  background: linear-gradient(101deg, #10537c 0%, #47b43a 99.27%);
  padding: size(40) size(0);
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }
  &-content {
  }
  &-header {
    @include flex-column;
    align-items: center;
    padding: size(0) size(30);
    text-align: center;
    @include flex-column;
    gap: size(10);
    color: $white;
    @include breakpoint(mobile576) {
      gap: size(16);
    }
  }
  &-body {
    min-height: 50vh;
    position: relative;
    padding: size(250) size(30);
    padding-bottom: size(120);
    overflow: hidden;

    .orbit-icon {
      width: 1.6em;
      height: 1.6em;
      line-height: 1.6em;
      font-size: 1.2em;
      border-radius: 50%;
      background: #ccc;
      color: #fff;
      text-align: center;
      display: block;
      img {
        @include wh100;
        display: block;
        @include circle;
        border: 0.654px solid rgba(241, 249, 254, 0.8);
      }
    }
    .orbit-wrap {
      list-style: none;
      font-size: 1.3em;
    }
    .orbit-wrap > li {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .orbit-wrap > li:hover ul {
      border-width: 2px;
      border-color: #fff;
    }

    .orbit-wrap > li:hover ~ li ul {
    }

    .orbit-wrap > li:hover ~ li ul li {
      opacity: 0.4;
    }

    ul[class^="ring"] {
      transition: all 300ms ease-in-out;
    }

    ul[class^="ring"] li {
      transition: all 300ms ease-in-out;
    }

    .ring-0 {
      width: 7em;
      height: 7em;
      animation: clockwiseRotate 35s linear infinite;
    }

    .ring-0 i {
      animation: counterClockwiseRotate 35s linear infinite;
    }

    .ring-0 > *:nth-of-type(1) {
      transform: rotate(95deg) translate(7.5em) rotate(-95deg);
    }

    .ring-0 > *:nth-of-type(2) {
      transform: rotate(190deg) translate(7.5em) rotate(-190deg);
    }

    .ring-0 > *:nth-of-type(3) {
      transform: rotate(285deg) translate(7.5em) rotate(-285deg);
    }

    .ring-0 > *:nth-of-type(4) {
      transform: rotate(380deg) translate(7.5em) rotate(-380deg);
    }

    .ring-1 {
      width: 15em;
      height: 15em;
      animation: clockwiseRotate 30s linear infinite;
    }

    .ring-1 i {
      animation: counterClockwiseRotate 30s linear infinite;
    }

    .ring-1 > *:nth-of-type(1) {
      transform: rotate(136.6666666667deg) translate(6em)
        rotate(-136.6666666667deg);
    }

    .ring-1 > *:nth-of-type(2) {
      transform: rotate(253.3333333333deg) translate(6em)
        rotate(-253.3333333333deg);
    }

    .ring-1 > *:nth-of-type(3) {
      transform: rotate(390deg) translate(6em) rotate(-390deg);
    }

    .ring-2 {
      width: 11.5em;
      height: 11.5em;
      animation: clockwiseRotate 25s linear infinite;
    }

    .ring-2 i {
      animation: counterClockwiseRotate 25s linear infinite;
    }

    /* .ring-2>*:nth-of-type(1) {
      transform: rotate(47.5deg) translate(4.3em) rotate(-47.5deg);
      background-color: red;
  } */

    .ring-2 > *:nth-of-type(2) {
      transform: rotate(95deg) translate(3em) rotate(-95deg);
    }

    /* .ring-2>*:nth-of-type(3) {
      transform: rotate(142.5deg) translate(4.3em) rotate(-142.5deg);
  } */

    .ring-2 > *:nth-of-type(4) {
      transform: rotate(190deg) translate(3em) rotate(-190deg);
    }

    /* 
  .ring-2>*:nth-of-type(5) {
      transform: rotate(237.5deg) translate(4.3em) rotate(-237.5deg);
  } */

    .ring-2 > *:nth-of-type(6) {
      transform: rotate(285deg) translate(3em) rotate(-285deg);
    }

    /* .ring-2>*:nth-of-type(7) {
      transform: rotate(332.5deg) translate(4.3em) rotate(-332.5deg);
  } */

    .ring-2 > *:nth-of-type(8) {
      transform: rotate(380deg) translate(3em) rotate(-380deg);
    }

    .ring-3 {
      width: 10em;
      height: 10em;
      animation: clockwiseRotate 20s linear infinite;
    }

    .ring-3 i {
      animation: counterClockwiseRotate 20s linear infinite;
    }

    .ring-3 > *:nth-of-type(1) {
      transform: rotate(126.6666666667deg) translate(5em)
        rotate(-126.6666666667deg);
    }

    .ring-3 > *:nth-of-type(2) {
      transform: rotate(253.3333333333deg) translate(5em)
        rotate(-253.3333333333deg);
    }

    .ring-3 > *:nth-of-type(3) {
      transform: rotate(380deg) translate(5em) rotate(-380deg);
    }

    ul[class^="ring"] {
      border: dashed 1px $white;
      position: relative;
      padding: 0;
      border-radius: 50%;
      list-style: none;
      box-sizing: content-box;
    }

    ul[class^="ring"] li {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.6em;
      height: 1.6em;
      margin: -0.8em;
    }

    /* center;
*/
    .orbit-center {
      z-index: 5;
      font-size: 2em;
      width: 1.8em;
      height: 1.8em;
      line-height: 1.8em;
      text-align: center;
      background: hotpink;
      border-radius: 50%;
    }

    .orbit-center:hover .orbit-center__icon {
      transform: rotateZ(0deg);
    }

    .orbit-center__icon {
      transform: rotateZ(-360deg);
      transition: all 300ms ease-in-out;
      img {
        @include circle;
      }
    }

    .orbit-wrap > li.orbit-center:hover ~ li > ul {
      width: 0;
      height: 0;
    }

    .orbit-wrap > li.orbit-center:hover ~ li > ul * {
      transform: translate(0, 0);
    }

    /* animations */
    @keyframes clockwiseRotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    @keyframes counterClockwiseRotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(-360deg);
      }
    }

    /* icons */
    .fa-heart-o {
      background: #b71c1c;
      color: white;
    }

    .fa-coffee {
      background: #4caf50;
      color: #cddc39;
    }

    .fa-safari {
      background: white;
      color: darkslateblue;
    }

    .fa-firefox {
      background: #1565c0;
      color: #ff8f00;
    }

    .fa-chrome {
      background: #fbc02d;
      color: #ef6c00;
    }

    .fa-edge {
      background: #03a9f4;
      color: white;
    }

    .fa-android {
      background: snow;
      color: limegreen;
    }

    .fa-apple {
      background: #444;
      color: white;
    }

    .fa-linux {
      background: white;
      color: #222;
    }

    .fa-windows {
      background: white;
      color: #03a9f4;
    }

    .fa-terminal {
      background: #222;
      color: #fff;
    }

    .fa-html5 {
      background: white;
      color: #e65100;
    }

    .fa-css3 {
      background: white;
      color: #2196f3;
    }

    .fa-git {
      background: #222;
      color: white;
    }

    .fa-free-code-camp {
      background: green;
      color: white;
    }

    .fa-meetup {
      background: red;
      color: white;
    }

    .fa-podcast {
      background: red;
      color: white;
    }

    .fa-codepen {
      background: #333;
      color: white;
    }
  }
}
