@use "../../global" as *;
@use "../../partials" as *;

.preloader {
  background: $neutral-50;
  width: 100%;
  height: 100vh;
  @include flex-center;
  position: fixed;
  inset: 0;
  z-index: 9999999999;

  .loader {
    @include square(150);
    @include flex-center;
    overflow: hidden;
  }
}

.loader-7 {
  @include square(64);
  @include border(solid, 3, $blue-green-600);
  @include circle;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;

  &:after, &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: $blue-green-600;
    width: calc(size(64) / 8);
    height: calc(size(64) / 8);
    @include circle;
  }

  &:before {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
  }
}

@keyframes rotation {
  0% {
    @include rotate(0);
  }
  100% {
    @include rotate(360);
  }
}