@use '../../global' as *;
@use '../../partials' as *;

.offcanvas {
  background: $white;
  min-height: 100vh;

  &.offcanvas-top {
    border-bottom: 0;
  }

  &.offcanvas-bottom {
    border-top: 0;
  }

  &.offcanvas-start {
    border-right: 0;
    width: size(280);
  }

  &.offcanvas-end {
    border-left: 0;
  }

  &-header {
    .btn-close {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      @include radius(0);
      @include transitionsall;

      @include hover {
        opacity: 1;
        @include rotate(180);

        svg {
          path {
            fill: $danger;
          }
        }
      }
    }
  }

  &-body {
    background: $white;
    @include flex-column;
    gap: size(12);

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      @include radius(8);
    }
  }
}
