@forward "./badges";
@forward "./breadcrumb";
@forward "./button";
@forward "./card";
@forward "./header";
@forward "./input";
@forward "./offcanvas";
@forward "./search";
@forward "./modal";
@forward "./tooltip";
@forward "./footer";
@forward "./preloader";
@forward "./sidebar";
@forward "./main";
@forward "./table";
@forward "./tabs";
@forward "./form";
@forward "./progress";
@forward "./list";
@forward "./pagination";
@forward "./accordion";
@forward "./switch";
@forward "./topbar";
@forward "./infinityscroll";

// DARKMODE
@forward "./settings";
